[submodule "datasets/candidate/utango"]
	path = datasets/candidate/utango
	url = https://github.com/Commit-Untangling/commit-untangling
[submodule "datasets/candidate/hdgnn"]
	path = datasets/candidate/hdgnn
	url = https://github.com/fanmengdan/HD-GNN
[submodule "datasets/candidate/flexeme"]
	path = datasets/candidate/flexeme
	url = https://github.com/PPPI/Flexeme
[submodule "datasets/candidate/codefuse-hqcm"]
	path = datasets/candidate/codefuse-hqcm
	url = https://github.com/codefuse-ai/codefuse-hqcm
[submodule "datasets/candidate/conventional-commit-classification"]
	path = datasets/candidate/conventional-commit-classification
	url = https://github.com/0x404/conventional-commit-classification
